.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #EBEBEB;
}

.logo {
  width: 100px;
  height: auto;
}
.icon {
  width: 60px;
  height: auto;
}

.title{
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  font-family: 'Jaro';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px  ;
  background-color: #D9D9D9;
}

.optionButton {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  background-color: #D9D9D9;
  cursor: pointer;
  color: #000000;
  width: 50%;
  font-family: monospace;
}

.executionTime {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  justify-content: left;
  font-family: monospace  ;
}

.active {
  background-color: white;
  border: 2px solid #D9D9D9;
  font-weight: bold;
}

.textAreaContainer {
  position: relative;
  width: 100%;
  height: max-content;
}

.textAreaWrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px; 
  width: 100%;
}

.textArea {
  flex: 1; /* Hace que el área de texto ocupe todo el espacio disponible */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #272727;
  font-size: 16px;
  height: 100px;
  resize: none;
}

.buttonGroup {
  display: flex;
  flex-direction: column; /* Coloca los botones uno encima del otro */
  gap: 1px; /* Espacio entre el botón "trash" y el botón de información */
}

.clearButton, .infoButton {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton {
  margin-top: 5px;
  margin-bottom: 5px;
  background: none;
  border: 2px dashed #ff4d4d;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.clearButton:hover {
  background-color: #ffebeb; 
}

.clearIcon {
  width: 16px;
  height: 16px;
}

.infoButton {
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  background: none;
  border: 2px dashed #fc9c1f;
  border-radius: 50%;
  cursor: pointer;
  color: #fc9c1f;
  font-family: monospace;
  font-weight: bold;
}

.infoButton:hover {
  background-color: #f5d6ae;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.popupTitle {
  font-family: 'Jaro';
  margin-bottom: 15px;
}
.popupContent {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #272727;
  font-family: monospace;
}

.closePopupButton {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: monospace;
}

.closePopupButton:hover {
  background-color: #d32f2f;
}


.searchButton {
  margin-top: 20px;
  padding: 10px 20px;
  width: 30%;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Jaro';
}

.searchButton:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  font-family: monospace;
}

.scrollableTable {
  width: 100vh;
  max-height: 400px;
  max-width: 100%;
  overflow-y: auto;
  border: 0.5px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
}

.scrollableTable::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

.scrollableTable::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc; 
}

.scrollableTable::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}

.tableContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: monospace;
}

.table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #007bff;
  font-weight: bold;

}

.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000000;
}


.downloadButton {
  margin-top: 20px;
  padding: 10px 20px;
  width: 30%;
  font-size: 18px;
  color: white;
  background-color: #33d356;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Jaro';
}

.downloadButton:hover {
  background-color: #218838;
}

.emptyParagraph {
  margin: 20px;
}

@media (max-width: 600px) {
  .header, .main {
    max-width: 90%;
  }

  .textArea {
    font-size: 14px;
  }

  .searchButton {
    font-size: 16px;
    padding: 8px 16px;
  }
}
